In [1]:
import pandas as pd

from datasets import OrganoidDataset
data = OrganoidDataset(device='cpu')

X_train,y_train = data.train
X_val,y_val = data.val

In [2]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0.0,4.104063,3.523024,0.000000,2.884238,1.979633,1.542526,0.212547,5.108574,2.037716,...,3.453124,0.000000,2.963743,0.000000,2.736963,1.784802,0.149795,0.000000,3.888179,6.389593
1,0.0,3.274515,1.723781,0.000000,2.100114,1.738910,0.264208,0.000000,0.000000,1.393973,...,0.062207,0.000000,1.898939,0.760424,2.055149,0.000000,0.000000,2.686204,0.908232,5.908281
2,0.0,4.236786,2.920661,5.548401,3.327828,2.842368,0.666156,0.064384,0.325768,1.424314,...,2.246653,0.000000,0.788886,1.303132,1.696276,0.000000,1.821231,5.536674,3.148032,6.711488
3,0.0,2.040163,1.193689,0.581164,1.106615,3.375133,0.743914,0.609816,1.490160,0.571727,...,4.076644,1.290857,2.295444,0.000000,3.184021,0.000000,1.870471,0.000000,3.661324,2.551270
4,0.0,4.462672,2.702669,0.000000,3.339822,2.529976,1.317120,0.333156,4.391684,0.959896,...,3.148971,0.000000,3.031583,0.312538,2.357087,2.227266,1.847686,0.000000,3.799577,5.340704

In [3]:
pd.DataFrame(y_train)[0].head()

0    0.0
1    5.0
2    1.0
3    2.0
4    0.0
Name: 0, dtype: float32

In [4]:
from autosklearn.experimental.askl2 import AutoSklearn2Classifier
automl = AutoSklearn2Classifier(memory_limit=4096,n_jobs=3)

In [5]:
automl.fit(pd.DataFrame(X_train), pd.DataFrame(y_train)[0])

/home/egor/PycharmProjects/deep_dr/venv/lib/python3.10/site-packages/autosklearn/experimental/selector.py:26: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, series in prediction.iteritems():
/home/egor/PycharmProjects/deep_dr/venv/lib/python3.10/site-packages/autosklearn/experimental/selector.py:26: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col, series in prediction.iteritems():

AutoSklearn2Classifier(memory_limit=4096, metric=accuracy, n_jobs=3,
                       per_run_time_limit=1080)

In [6]:
import sklearn

y_hat = automl.predict(pd.DataFrame(X_val))
print("Accuracy score", sklearn.metrics.accuracy_score(pd.DataFrame(y_val)[0], y_hat))

Accuracy score 0.8814303076824666

In [7]:
automl.leaderboard()

          rank  ensemble_weight                type      cost    duration
model_id
4            1             0.20                 mlp  0.121344  624.350916
17           2             0.06   gradient_boosting  0.128540  104.203969
10           3             0.12  passive_aggressive  0.169106   65.173185
25           4             0.02                 sgd  0.176339   22.603479
8            5             0.04   gradient_boosting  0.245590   72.994283
15           6             0.22         extra_trees  0.289571   26.848407